body {
    background-color: rgba(2, 31, 86, 0.765);
}

.display {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
}

.greeting {
    font-size: 50px;
}

.myName {
    font-size: 80px;
}

.knowMeBtn {
    width: 180px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}

.knowMeBtn:hover{
    background-color: rgba(255, 255, 255, 0.354);
}

#greetingMyName {
    font-family: Roboto;
    color:white;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.menuBox {
    width: 355px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.menuButton {
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    background-color: transparent;
    color: white;
    font-size: 19px;
}

.menuButton:hover {
    background-color: rgba(255, 255, 255, 0.354);
}

.logoBox {
    position: absolute;
    border: 2px solid white;
    border-radius: 5px;
    left: 40px;
    top: 30px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText {
    color: white;
    font-size: 24px;
    margin: 2px;
    letter-spacing: 1.5px;
}

.logoBox:hover {
    background-color: rgba(255, 255, 255, 0.354);
}


.menuScreenBox {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.menuScreen {
    height: 100%;
    background-color: rgb(62, 84, 126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItems {
    color: white;
    font-size: 40px;
    font-weight: 400;
    font-family: Roboto;
}
.menuItems:hover{
    color: grey;
}

.arrowIcon {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.arrowIcon:hover{
    color: grey;
}


  @media screen and (max-width: 900px) {
    .greeting {
        font-size: 35px;
    }
    
    .myName {
        font-size: 60px;
    }

    .menuBox {
        width: 96px;
        height: 45px;
        position: absolute;
        top: 30px;
        right: 0px;
        display: flex;
        justify-content: flex-start;
    }
  }