body {
    background-color: rgba(2, 31, 86, 0.765);
}


/*


    HOME 


*/
.display {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
}

.centerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
}

.greeting {
    font-size: 50px;
}

.myName {
    font-size: 80px;
}

.knowMeBtn {
    width: 180px;
    height: 60px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    font-size: 20px;
}

.knowMeBtn:hover{
    background-color: rgba(255, 255, 255, 0.354);
}

#greetingMyName {
    font-family: Roboto;
    color:white;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
}

.menuBox {
    width: 355px;
    height: 40px;
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.menuButton {
    border: 2px solid white;
    border-radius: 10px;
    width: 100px;
    height: 28px;
    background-color: transparent;/* 
    background-color: rgba(0, 0, 0, 0.244); */
    color: white;
    font-size: 19px;
}

.logoBox {
    position: absolute;
    border: 2px solid white;
    border-radius: 5px;
    left: 40px;
    top: 30px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoText {
    color: white;
    font-size: 24px;
    margin: 2px;
    letter-spacing: 1.5px;
}

.logoBox:hover {
    background-color: rgba(255, 255, 255, 0.354);
}


.menuScreenBox {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.menuScreen {
    height: 100%;
    background-color: rgb(62, 84, 126);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuItems {
    color: white;
    font-size: 40px;
    font-weight: 400;
    font-family: Roboto;
}
.menuItems:hover{
    color: grey;
}

.arrowIcon {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}
.arrowIcon:hover{
    color: grey;
}


  @media screen and (max-width: 900px) {
    .greeting {
        font-size: 35px;
    }
    
    .myName {
        font-size: 60px;
    }

    .menuBox {
        width: 96px;
        height: 45px;
        position: absolute;
        top: 30px;
        right: 0px;
        display: flex;
        justify-content: flex-start;
    }
  }


/*


    ABOUT ME 


*/

/* bos in which all items are.
position relative so that the items are absolute positioned to this box and not the whole page */
.sliderBox {
    width: 85vw;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;
}

/* style of every itemBox */
.itemBox {
    height: 22%;
    width: 60%;
    display: flex;
    /* border: 1px solid green; */
    position: absolute;
    transition: top 1s, height 1s, width 1s, opacity 1s;
}

/* here every item box is getting styled individualy */
#prev2 {
    top: -40%;
}
#prev {
    top: 0;
    opacity: 0.5;
}
#active {
    top: 25%;
    height: 50%;
    width: 100%;
    opacity: 1;
}
#next {
    top: 78%;
    opacity: 0.5;
}
#next2 {
    top: 120%;
}

/* in the item box is a picture and text box */
.pictureBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.textBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bothText {
    font-family: Roboto;
    color:white;
    transition: font-size 1s;
    margin: 0;
}

/* style of text  whether active or not*/
#activeText {
    font-size: 70px;
}
#inActiveText {
    font-size: 30px;
}


/*


    RESUME 


*/

.centerBoxResume {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 50px;
    width: 800px;
    height: 500px;
    border: 3px solid white;
}

.Resumebtn {
    width: 300px;
    height: 100px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 15px;
    color: white;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 400;
}