.aboutMedisplay {
    height: auto;
    background-color: rgba(2, 31, 86, 0.765);/* 
    background-color: rgba(10, 125, 153, 0.521); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    width: 98%;
    height: 100vh;
    border: 1px solid red;
}

.text {
    font-size: 60px;
    font-family: Roboto;
    color:white;
    font-weight: 400;
    margin: 10px;
}

/* Im from Sarnthein Page */
#firstPage {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.firstPagePicture {
    width: 100%;
    height: 600px;
}

#firstPageTextBox {
    height: 200px;
    display: flex;
    align-items: flex-start;
}


/* Where Sarnthein is Page */
#secondPage {
    align-items: center;
    justify-content: space-evenly;
}

.secondPageVideo {
    height: 535px;
}

.secondPageTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Hiking Page */
#thirdPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vw;
}

.thirdPictureOne {
    height: 100%;
    align-self: flex-end;    
}

.thridTextPictureBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35vw;
    width: 70vw;
    border: 1px solid green;
    align-self: flex-end;
    margin-bottom: 10px;
}

#thirdTextBox {
    justify-content: center;
}

.thirdPictureTwo {
    height: 35vw;
    align-self: flex-start;
}




/* Traveling Page */
#fourthPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fourthPictureOne {
    width: 400px;
}

#FourthTextPictureBox {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#fourthTextBox {
    justify-content: center;
    height: 188px;
}

.fourthPictureTwo {
    width: 100%;
}

.travelPictureTwo {
    width: 400px;
    height: auto;
}

/* Sport Page */
#fifthPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sportPicture {
    width: 400px;
}