.aboutMedisplay {
    height: auto;
    background-color: rgba(2, 31, 86, 0.765);/* 
    background-color: rgba(25, 77, 3, 0.761); */
    display: flex;
    flex-direction: column;
}

.whiteBoxDiv {
    display: flex;
    width: 100%;
    height: 100vh;/* 
    border: 1px solid red; */
}

.text {
    font-size: 60px;
    font-family: Roboto;
    color:white;
    font-weight: 400;
    margin: 10px;
}

/* Im from Sarnthein Page */
#firstPageBox {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.firstPagePicture {
    width: 100%;
    height: 600px;
}

#firstPageTextBox {
    height: 200px;
    display: flex;
    align-items: flex-start;
}


/* Where Sarnthein is Page */
#secondPageBox {
    align-items: center;
    justify-content: space-evenly;
}

.secondPageVideo {
    height: 535px;
}

.secondPageTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Hiking Page */
#thirdBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.thirdPictureOne {
    width: 600px;
    align-self: flex-start;    
}

#thirdTextBox {
    justify-content: center;
}

.thirdPictureTwo {
    width: 470px;
    align-self: flex-end;    
}


/* Traveling Page */
#fourthBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fourthPictureOne {
    width: 300px;
}

#FourthTextPictureBox {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

#fourthTextBox {
    justify-content: center;
}

.fourthPictureTwo {
    width: 100%;
}

.travelPictureTwo {
    width: 300px;
    height: auto;
}