body {
    width: 100%;
    height: 100%;
    background-color: rgba(2, 31, 86, 0.765);
    z-index: 0;
    position: static;
}

.aboutMedisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    width: 98%;
    height: 100vh;
}

.text {
    font-size: 60px;
    font-family: Roboto;
    color:white;
    font-weight: 400;
    margin: 10px;
}

/* Im from Sarnthein Page */
#firstPage {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.firstPagePictureDiv{
    width: 86.76vw;
    height: 600px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.firstPagePicture {
    width: auto;
    height: 600px;
}

#firstPageTextBox {
    height: 200px;
    display: flex;
    align-items: flex-start;
}


/* Where Sarnthein is Page */
#secondPage {
    align-items: center;
    justify-content: space-evenly;
}

.secondPageVideoDiv {
    width: 37.25vw;
    height: 535px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.secondPageVideo {
    height: 535px;
}

.secondPageTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Hiking Page */
#thirdPage {
    display: flex;
    height: 50vw;
    align-items: flex-start;
    gap: 30px;
}

.thirdPictureOneDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27.9vw;
    width: 25vw;
    overflow: hidden;
}

.thirdPictureOne {
    height: 535px;
}

.thridTextPictureBox {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 60vw;
    align-items: center;
    align-items: center;
    overflow: hidden;
}

#thirdTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.thirdPictureTwoDiv{
    display: flex;
    align-items: center;
    height: 28.8vw;
    overflow: hidden;
}

.thirdPictureTwo {
    height: 553px;
}




/* Traveling Page */
#fourthPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60vw;
}

.fourthPictureOne {
    width: 28vw;
}

#FourthTextPictureBox {
    width: 28vw;
    display: flex;
    flex-direction: column;
}

#fourthTextBox {
    display: flex;
    justify-content: center;
    height: 188px;
}

.fourthPictureTwo {
    width: 100%;
}

.travelPictureTwo {
    width: 28vw;
    height: auto;
}

/* Sport Page */
#fifthPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sportPictureOne {
    width: 28vw;
}

.sportPictureTwo {
    width: 28vw;
}

/* and of course */
#sixthPage {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Programming Page */
#seventhPage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.programmingPicture {
    width: 28vw;
    height: 500px;
    border: 1px solid white;
}