.sliderBox {
    width: 85vw;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid black;
    gap: 6.5vh;
}

.itemBox {
    height: 22%;
    width: 80%;
    display: flex;
    border: 1px solid green;
}
#prev2 {
    order: 1;
    display: none;
}
#prev {
    order: 2;
}
#active {
    height: 40%;
    width: 100%;
    order: 3;
}
#next {
    order: 4;
}
#next2 {
    order: 5;
    display: none;
}

.pictureBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.textBox {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bothText {
    font-family: Roboto;
    color:white;
}

#activeText {
    font-size: 70px;
}

#inActiveText {
    font-size: 30px;
}