/* bos in which all items are.
position relative so that the items are absolute positioned to this box and not the whole page */
.sliderBox {
    width: 85vw;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* border: 2px solid black; */
    position: relative;
    overflow: hidden;
}

/* style of every itemBox */
.itemBox {
    height: 22%;
    width: 60%;
    display: flex;
    /* border: 1px solid green; */
    position: absolute;
    transition: top 1s, height 1s, width 1s, opacity 1s;
}

/* here every item box is getting styled individualy */
#prev2 {
    top: -40%;
}
#prev {
    top: 0;
    opacity: 0.5;
}
#active {
    top: 25%;
    height: 50%;
    width: 100%;
    opacity: 1;
}
#next {
    top: 78%;
    opacity: 0.5;
}
#next2 {
    top: 120%;
}

/* in the item box is a picture and text box */
.pictureBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.textBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bothText {
    font-family: Roboto;
    color:white;
    transition: font-size 1s;
    margin: 0;
}

/* style of text  whether active or not*/
#activeText {
    font-size: 70px;
}
#inActiveText {
    font-size: 30px;
}